<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page 2</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

    <link href="../static/css/utils.css" rel="stylesheet" type="text/css">
</head>
<style>
    .product_type{
        height: 63px;
        background-color: var(--background-1);
        border-radius: 14px;
        display: flex;
        align-items: center;
        border: 1px solid #D98D00;
        font-size: 22px;
        font-weight: 500;
        padding-left: 30px;
    }
    .block-btn-see-more-forum,
    .block-btn-see-more{
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 27px;
    }
    .table-data-body .data-row-tb .tb-col-title img{
        width: 170px;
        height: 110px;
        object-fit: contain;
    }
    .table-data-body .data-row-tb{
        display: flex;
        align-items: center;
        height: 136px;
        font-size: 20px;
        background-color: white;
        border-radius: 14px;
        border: 1px solid #F1E86B;
    }
    .table-data-body .data-row-tb:not(:first-child){
        margin-top: 20px;
    }
    .table-data-body .data-row-tb .tb-col-cmt{
        border-left: 3px solid #0075FF;
        border-right: 3px solid #0075FF;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .three-dot-1{
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; 
        -webkit-box-orient: vertical;
        width: 100%;
        overflow: hidden;
    }

    .block-articles,
    .block-forum,
    .block-quick-menu{
        background: #E7F2FF;
        border: 1px solid #A6CBFF;
    }
    .quick_menu{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .item_menu{
        width: 195px;
        height: 145px;
        background-color: var(--background-1);
        border-radius: 14px;
        border: 1px solid #D98D00;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    .item_menu .title_menu{
        font-size: 27px;
        font-weight: 500;
    }
    .item_menu img{
        height: 70px;
    }
    .data-row-tb-forum{
        height: 98px;
        width: 100%;
        background-color: white;
        border: 1px solid #F1E86B;
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .data-row-tb-forum img{
        height: 86px;
        width: 86px;
    }
    .data-row-tb-forum .info-item-forum{
        height: 63px;
        width: 450px;
        background: #E6EBFF;
        border: 1px solid #B7B8FF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
        border-radius: 14px;
    }
    .table-data-forum .data-row-tb-forum:not(:last-child){
        margin-bottom: 1rem;
    }

</style>
<body>
    <!-- header -->
    <div id="header" class="w-100">
        <div class="top_header">
            <a href="">Feedback contribution</a>
            <a href="">App download</a>
            <a href="">Help</a>
        </div>
        <div class="main_header w-100 d-flex align-items-center">
            <img class="main_logo" src="../static/images/logo/logo_ce_1.png">
            <div class="btn-group dropend">
                <button class="category_block d-flex align-items-center bg-transparent border-0 p-0" data-bs-auto-close="outside" type="button" data-bs-toggle="dropdown" aria-expanded="true">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#000000">
                            <path d="M144.33-199q-21.83 0-37.08-15.28Q92-229.57 92-252.12q0-21.88 15.25-37.05 15.25-15.16 37.08-15.16h671.34q21.83 0 37.41 15.28 15.59 15.28 15.59 37.17 0 22.55-15.59 37.71Q837.5-199 815.67-199H144.33Zm0-228.67q-21.83 0-37.08-15.28T92-480.12q0-21.88 15.25-37.05 15.25-15.16 37.08-15.16h671.34q21.83 0 37.41 15.28 15.59 15.28 15.59 37.17 0 21.88-15.59 37.05-15.58 15.16-37.41 15.16H144.33Zm0-228q-21.83 0-37.08-15.28T92-708.78q0-21.89 15.25-37.05Q122.5-761 144.33-761h671.34q21.83 0 37.41 15.28 15.59 15.29 15.59 37.17 0 22.55-15.59 37.72-15.58 15.16-37.41 15.16H144.33Z"/>
                        </svg>                    
                    </span>
                    <span style="margin-left: 5px;">Category</span>
                    <span style="margin-top: 5px;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#000000">
                            <path d="M480-353.12q-7.46 0-14.17-2.69-6.7-2.68-12.59-8.57l-193.1-193.1q-11.02-11.02-10.68-26.85.33-15.84 11.35-26.86t26.86-11.02q15.83 0 26.85 11.02L480-445.04l166.15-166.15q11.02-11.02 26.52-10.69 15.5.34 26.52 11.36t11.02 26.85q0 15.84-11.02 26.86L506.76-364.38q-5.89 5.89-12.59 8.57-6.71 2.69-14.17 2.69Z"/>
                        </svg>  
                    </span>                    
                </button>

                <ul class="dropdown-menu dropdown-category pt-0">
                    <li class="header-dd-category">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#000000">
                                <path d="M144.33-199q-21.83 0-37.08-15.28Q92-229.57 92-252.12q0-21.88 15.25-37.05 15.25-15.16 37.08-15.16h671.34q21.83 0 37.41 15.28 15.59 15.28 15.59 37.17 0 22.55-15.59 37.71Q837.5-199 815.67-199H144.33Zm0-228.67q-21.83 0-37.08-15.28T92-480.12q0-21.88 15.25-37.05 15.25-15.16 37.08-15.16h671.34q21.83 0 37.41 15.28 15.59 15.28 15.59 37.17 0 21.88-15.59 37.05-15.58 15.16-37.41 15.16H144.33Zm0-228q-21.83 0-37.08-15.28T92-708.78q0-21.89 15.25-37.05Q122.5-761 144.33-761h671.34q21.83 0 37.41 15.28 15.59 15.29 15.59 37.17 0 22.55-15.59 37.72-15.58 15.16-37.41 15.16H144.33Z"/>
                            </svg>                    
                        </span>
                        <span style="margin-left: 5px;">Category</span>
                    </li>
                </ul>
            </div>

            <div class="input_search_block">
                <input type="text" class="input_search" placeholder="Find products on Cutting/Edge">
                <button class="btn_search">
                    <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 0 24 24" width="26px" fill="white">
                        <path d="M0 0h24v24H0V0z" fill="none"/>
                        <path d="M15.5 14h-.79l-.28-.27c1.2-1.4 1.82-3.31 1.48-5.34-.47-2.78-2.79-5-5.59-5.34-4.23-.52-7.79 3.04-7.27 7.27.34 2.8 2.56 5.12 5.34 5.59 2.03.34 3.94-.28 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                    </svg>
                </button>
            </div>

            <button class="btn-icon">
                <img class="w-100 h-100 object-fit-contain" src="../static/images/icon/bell_1.png" alt="">
            </button>
            <button class="btn-icon" style="padding: 2px;">
                <img class="w-100 h-100 object-fit-contain" src="../static/images/icon/chat_2.png" alt="">
            </button>
            <button class="d-flex align-items-center p-0 border-0 bg-transparent">
                <div class="btn-icon me-1">
                    <img class="w-100 h-100 object-fit-contain" src="../static/images/icon/page_1.png" alt="">
                </div>
                <span class="title_icon_style">Post management</span>
            </button>

            <div class="d-flex align-items-center">
                <img class="icon_prf_hd me-2" src="../static/images/icon/avt_default.png" alt="">
                <span class="title_icon_style">User account</span>
                <span style="margin-top: 5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#000000">
                        <path d="M480-353.12q-7.46 0-14.17-2.69-6.7-2.68-12.59-8.57l-193.1-193.1q-11.02-11.02-10.68-26.85.33-15.84 11.35-26.86t26.86-11.02q15.83 0 26.85 11.02L480-445.04l166.15-166.15q11.02-11.02 26.52-10.69 15.5.34 26.52 11.36t11.02 26.85q0 15.84-11.02 26.86L506.76-364.38q-5.89 5.89-12.59 8.57-6.71 2.69-14.17 2.69Z"/>
                    </svg>  
                </span>
            </div>
            <button class="btn-post-rv d-flex align-items-center justify-content-center">
                <span class="me-3">
                    <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="white">
                        <path d="M189.06-113.3q-31 0-53.38-22.38-22.38-22.38-22.38-53.38v-581.88q0-31.06 22.38-53.49 22.38-22.43 53.38-22.43h297.6q19.02 0 28.53 11.81 9.51 11.81 9.51 25.99 0 14.17-9.66 26.14-9.66 11.98-28.47 11.98H189.06v581.88h581.88v-299.52q0-18.78 11.83-28.33 11.83-9.55 26.02-9.55 14.2 0 26.13 9.55 11.94 9.55 11.94 28.33v299.52q0 31-22.43 53.38Q802-113.3 770.94-113.3H189.06ZM480-480Zm-123.19 85.31v-105.25q0-15.45 6.01-29.44 6.01-14 16.53-24.51l351.51-351.28q11.36-11.35 25.29-16.66 13.93-5.3 28.1-5.3 14.25 0 28.34 5.64 14.09 5.63 25.69 16.99l65.55 66.31q11 11.49 16.77 25.23 5.77 13.73 5.77 27.95 0 14.26-5.55 28.56-5.56 14.3-16.99 25.73L553.89-379.44q-10.51 10.51-24.51 16.57-13.99 6.06-29.44 6.06H394.69q-16 0-26.94-10.94-10.94-10.94-10.94-26.94Zm499.56-390.22-72.04-71.79 72.04 71.79ZM428.74-428.74h72.46l244.17-244.17-36.4-35.97-36.83-35.82-243.4 242.5v73.46Zm280.23-280.14-36.83-35.82 36.83 35.82 36.4 35.97-36.4-35.97Z"/>
                    </svg>
                </span>
                <span class="title_icon_style">Post review</span>
            </button>
        </div>

    </div>

    <div id="content_body" class="">
        <!-- banner -->
        <div class="slideshow-container mt-3">
            <div class="slides-wrapper" id="slides-wrapper"></div>
            
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">
                <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="white"><path d="M522.87-330.98 390.73-463.37q-3.52-3.27-5.52-7.54-2-4.27-2-9.09t2-9.09q2-4.27 5.52-7.79l132.15-132.15q2.2-2.2 5.05-3.7 2.85-1.5 6.22-1.5 6.49 0 11.17 4.31t4.68 11.2v277.44q0 6.89-4.82 11.2-4.83 4.31-11.17 4.31-1.52 0-11.14-5.21Z"/></svg>
            </a>
            <a class="next" onclick="plusSlides(1)">
                <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="white"><path d="M426.1-325.77q-6.64 0-11.37-4.27-4.73-4.26-4.73-11.24v-277.44q0-6.98 4.85-11.24 4.84-4.27 11.3-4.27 1.62 0 10.98 5.21l132.39 132.14q3.27 3.52 5.27 7.79 2 4.27 2 9.09t-2.05 9.09q-2.06 4.27-5.22 7.54l-132.4 132.4q-2.2 2.2-5 3.7-2.81 1.5-6.02 1.5Z"/></svg>
            </a>
            
            <div class="dots-container" id="dots-container"></div>
        </div>
        <!-- ---------------------- -->

        <div class="block-quick-menu py-4 mt-2 mb-4">
            <div class="quick_menu mb-5">
                <div class="item_menu">
                    <img src="../static/images/home/image%2020.png" alt="">
                    <div class="title_menu">Smart Phone</div>
                </div>
                <div class="item_menu">
                    <img src="../static/images/home/image%2012.png" alt="">
                    <div class="title_menu">Laptop</div>
                </div>
                <div class="item_menu">
                    <img src="../static/images/home/image%2013.png" alt="">
                    <div class="title_menu">Watch</div>
                </div>
                <div class="item_menu">
                    <img src="../static/images/home/image%2014.png" alt="">
                    <div class="title_menu">Accessory</div>
                </div>
                <div class="item_menu">
                    <img src="../static/images/home/image%2015.png" alt="">
                    <div class="title_menu">Tivi</div>
                </div>
            </div>
            <div class="quick_menu pt-4">
                <div class="item_menu">
                    <img src="../static/images/home/image%2022.png" alt="">
                    <div class="title_menu">PC</div>
                </div>
                <div class="item_menu">
                    <img src="../static/images/home/image%2019.png" alt="">
                    <div class="title_menu">Appliances</div>
                </div>
                <div class="item_menu">
                    <img src="../static/images/home/image%2018.png" alt="">
                    <div class="title_menu">News</div>
                </div>
                <div class="item_menu">
                    <img src="../static/images/home/image%2017.png" alt="">
                    <div class="title_menu">Promotion</div>
                </div>
                <div class="item_menu">
                    <img src="../static/images/home/image%2016.png" alt="">
                    <div class="title_menu">Buy old</div>
                </div>
            </div>
        </div>

        <div class="px-4 pt-4 block-forum mb-3">
            <div class="product_type mb-3">
                <div>
                    <div style="line-height: 1;">Forum</div>
                    <span style="font-size: 16px;">Summary of forums</span>
                </div>
            </div>
            <div>
                <div class="table-data-forum"></div>
                <div class="block-btn-see-more-forum">
                    <button class="btn-see-more-forum fw-bold border-0 bg-transparent">See More</button>
                </div>
            </div>
        </div>

        <div class="px-4 pt-4 block-articles">
            <div class="product_type mb-3">ARTICLES OF INTEREST</div>
            <div>
                <div class="table-data-body"></div>
                <div class="block-btn-see-more">
                    <button class="btn-see-more fw-bold border-0 bg-transparent">See More</button>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div id="footer" class="d-flex">
        <div class="block_footer_1">
           <span class="title_block_footer">DOWNLOAD APP CUTTING/EDGE</span>
           <div class="d-flex content_block_1">
               <div><img class="qr_footer" src="../static/images/qr-code%201.png" alt=""></div>
               <div>
                   <div class="d-flex align-items-center">
                       <img class="lg_block_1_ft" src="../static/images/logo/apple-logo_ft.png" alt="">
                       <span>DOWNLOAD ON APPSTORE</span>
                   </div>
                   <div class="download_info d-flex align-items-center">
                       <img class="lg_block_1_ft" src="../static/images/logo/google-play_ft.png" alt="">
                       <span>DOWNLOAD ON GOOGLE PLAY</span>
                   </div>
                   <div class="download_info d-flex align-items-center">
                       <img class="lg_block_1_ft" src="../static/images/logo/huawei_appgallery_ft.png" alt="">
                       <span>DOWNLOAD ON APP GALLERY</span>
                   </div>
               </div>
           </div>
        </div>
        <div class="block_footer_2">
           <span class="title_block_footer">CUSTOMER SUPPORT</span>
           <div class="content_ft_bl d-flex flex-column">
                <div><a href="">Help center</a></div>
                <div><a href="">Information security and safety</a></div>
                <div><a href="">Contact support</a></div>
           </div>
        </div>
        <div class="block_footer_3">
            <span class="title_block_footer">ABOUT CUTTING/EDGE</span>
            <div class="content_ft_bl d-flex flex-column">
                <div><a href="">Introduction</a></div>
                <div><a href="">Operating regulations</a></div>
                <div><a href="">Privacy policy</a></div>
                <div><a href="">Dispute resolution</a></div>
                <div><a href="">Recruitment</a></div>
                <div><a href="">Media</a></div>
            </div>
        </div>
        <div class="block_footer_4">
            <span class="title_block_footer">CONNECT WITH</span>
            <div class="content_ft_bl d-flex flex-column">
                <div class="plf_connect d-flex">
                    <a href=""><img src="../static/images/logo/facebook.png" alt=""></a>
                    <a href=""><img src="../static/images/logo/youtube.png" alt=""></a>
                    <a href=""><img src="../static/images/logo/linkedin.png" alt=""></a>
                </div>
                <div>VERIFIED</div>
                <div class="vrf_ft"><a href=""><img src="../static/images/logo/logo%203.png" alt=""></a></div>
            </div>
        </div>
    </div>

    <script src="../static/script/utils.js"></script>
    <script defer>
        var data_contents_example = [
            {
                "url_img": "../images/forum/image 24.png",
                "title": "Free Apple cable: USB-C with two black ends Free Apple cable: USB-C with two black ends",
            },
            {
                "url_img": "../images/forum/image 25.png",
                "title": "Complaint to Samsung Vietnam (SSVN) and the outcome",
            },
            {
                "url_img": "../images/forum/image 26.png",
                "title": "Is buying new iPhone 15 plus better than buying used?",
            },
            {
                "url_img": "../images/forum/image 27.png",
                "title": "TOP IPHONES NOT WORTH BUYING IN 2024",
            },
        ]

        var data_contents_example_forum = [
            {
                "title": "iPhone (iOS)",
                "topics": "346,245",
                "posts": "5,528,079",
                "latest": "Is buying new iPhone 15 plus better than buying used?",
                "author": "Thuanh2108",
                "time": "12 minutes ago"
            },
            {
                "title": "Android smartphones",
                "topics": "274,094",
                "posts": "8,891,421",
                "latest": "Samsung doesn't want the Galaxy S25 to only use ........",
                "author": "Tuanns93",
                "time": "15 minutes ago"
            },
            {
                "title": "Other smartphones",
                "topics": "350,362",
                "posts": "5,859,125",
                "latest": " On hand Innostyle SuperCube GaN 100w Charger ..........",
                "author": "Techsavvy20",
                "time": "Sunday at 14:42"
            },
            {
                "title": "Apple Computer (macOS)",
                "topics": "56,107",
                "posts": "708,177",
                "latest": "M4 chip analysis reveals possible features on this........",
                "author": "centernc",
                "time": "55 minutes ago"
            },
            {
                "title": "iPad (iPadOS)",
                "topics": "26,728",
                "posts": "526,937",
                "latest": " iPadOS 18 has formatted external hard drives",
                "author": "centernc",
                "time": "36 minutes ago"
            },
        ]

        const banners = [
            '../images/banner/image 1.png',
            '../images/banner/image 1.png',
            '../images/banner/image 1.png'
        ];
        renderSlideShow(banners)

        // render when the page loads
        updateViewContents(data_contents_example)
        updateViewContentsForum(data_contents_example_forum)

        // add event click see more forum
        document.querySelector(".btn-see-more-forum")?.addEventListener("click", function(){
            // call api get data here
            // -------------------------
            let data = data_contents_example_forum // Replace with data get from backend
            let end = false // "true" if there is no more data to see more

            updateViewContentsForum(data_contents_example_forum)
        })

        // add event click see more
        document.querySelector(".btn-see-more")?.addEventListener("click", function(){
            // call api get data here
            // -------------------------
            let data = data_contents_example // Replace with data get from backend
            let end = false // "true" if there is no more data to see more

            updateViewContents(data_contents_example, end)
        })

        function updateViewContents(data_contents, end=false){
            let html = ""
            for(let content of data_contents){
                html += `
                    <div class="data-row-tb">
                        <div class="tb-col-title d-flex p-2">
                            <img src="${content.url_img}" alt="">
                            <span class="fw-bold ms-2 three-dot-4">${content.title}</span>
                        </div>
                    </div>
                `
            }
            document.querySelector(".table-data-body")?.insertAdjacentHTML("beforeend", html)
            // hide see more
            if(end){
                document.querySelector(".block-btn-see-more")?.classList.add("d-none")
            }
        }

        function updateViewContentsForum(data_contents, end=false){
            let html = ""
            for(let content of data_contents){
                html += `
                    <div class="data-row-tb-forum">
                        <div class="d-flex px-3 align-items-center">
                            <img src="../images/icon/image 23.png" alt="">
                            <div class="ms-3">
                                <span class="fw-bold" style="font-size: 27px;">${content.title}</span>
                                <div class="d-flex gap-2 fw-bold" style="font-size: 16px;">
                                    <span>Topics: ${content.topics}</span>
                                    <span>Posts: ${content.posts}</span>
                                </div>
                            </div>
                        </div>
                        <div class="info-item-forum me-3">
                            <div class="three-dot-1">Latest: ${content.latest}</div>
                            <span>${content.author}, ${content.time}</span>
                        </div>
                    </div>
                `
            }
            document.querySelector(".table-data-forum")?.insertAdjacentHTML("beforeend", html)
            // hide see more
            if(end){
                document.querySelector(".block-btn-see-more-forum")?.classList.add("d-none")
            }
        }

    </script>
</body>
</html>